.card {
  position: relative;
  border: 2px solid #000eef;
  border-radius: 8px;
  background-color: #f6f8fe;
  padding: 16px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;

  background-color: #000eef;
  color: #ffffff;
  padding: 8px 16px;
  border-bottom-right-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}

.content {
  margin-top: 24px;
}
